.custom-button{
    background-color: #3B556D;
    color: #fff;
    border-radius: 8px;
    min-height: 50px;
    min-width: 120px;
    border: 1px solid #3B556D;
    box-sizing: border-box;
    font-family:  'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 15px 0;
}
.custom-button:hover{
    background-color: #537594;
    cursor: pointer;
}
