.header{
    height:100px;
    Width:100%;
    display: flex;
    justify-content: space-around;
}
.resetCommande{
   position: absolute;
   left: 0;
   margin: 15px 0 0 15px;
   font-size: 15px !important;
   min-height: 40px !important;
}
.shopping-cart-icon{
    color: #264653;
    font-size: 30px !important;
}
.left-part{
    width: 100%;
}
.right-part {
    width: 100%;
}
.right-part> ul {
    list-style: none;
    display: flex;
    align-items:center;
    justify-content:center;
}
.right-part> ul> li {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    height:100%;
}
.active {
    color:#F4A261 !important;
}
.active + .shopping-cart-icon{
    color:#F4A261 !important;
}
.nav-item {
    color: #264653;
}
